.bg-img{
	display: flex;
	background-image: url('../images/img.jpg');
	height: 360px;
	background-repeat: no-repeat;
    max-width: 1519px;
	background-size: cover;
}
.title{
	position: relative;
}
.txt{
	margin-top: 35px;
	margin-left: 140px;
}
.child{
	position: absolute;
	max-width: 300px;
	margin-top: 146px;
}
ul{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
li{
	margin-top: 10px;
}
.nav1{
	font-family: tahoma;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
    margin-right: 360px;
    margin-left: 140px;
}
.nav2{
	font-family: tahoma;
	color: #5863f8;
	font-size: 15px;
	margin-right: 50px;
	margin-left: 140px;
}
.nav{
	font-family: tahoma;
	color: #fff;
	font-size: 15px;
	margin-right: 60px;
}
h1{
	font-size: 35px;
	font-family: tahoma;
	color: #fff;
	font-weight:900;
	width: 300px;
}
.section{
	display: flex;
	margin-top: 460px;
	height: 610px;
	max-width: 1252px;
}
.div1{
	margin-top: 30px;
	margin-left: 140px;
	max-width: 499px;
	height: 388px;
}
h4{
	font-size: 15px;
	font-family: tahoma;
	color:#5863f8;
	margin-bottom:17px;
	font-weight: 700;
}
h2{
	font-size: 36px;
	font-family: tahoma;
	font-weight: bold;
	line-height: 50px;
	width: 334px;
}
.pgph1{
	font-size: 15px;
	line-height: 27px;
	font-family: raleway;
	font-weight: bold;
	max-width: 480px;
	margin-top: 15px;
}
.pgph2{
	font-size: 14px;
	line-height: 26px;
	font-family: raleway;
	max-width: 490px;
	margin-top: 12px;
}
.button{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url("../images/button.png");
	margin-top: 20px;
	max-width: 174px;
	height: 47px;
}
.buttontxt{
	font-size: 15px;
	font-family: tahoma;
	color: #fff;
	font-weight: bold;
}
.div3{
	max-width: 600px;
	flex-wrap: wrap;
	margin-left: 100px;
}
.div2{
	display: flex;
	max-width: 636px;
	height: 188px;
}
.pic1{
	margin-left: 130px;
	max-width: 330px;
	height: 185px;
}
.pic2{
	display: flex;
	max-width: 260px;
	height: 185px;
	margin-left: 11px;
}
.classforpic3{
	display: flex;
	margin-left: 130px;
	margin-top: 8px;
}
.pic3{
	max-width: 531px;
	height: 300px;
}
.container{
	display: flex;
}
.bg2{
	display: flex;
	flex-direction: column;
	background-image:url('../images/bg2.png') ;
	height: 612px;
	width: 1519px;
	background-size: cover;
	background-repeat: no-repeat;
}
.block1{
	margin-top: 107px;
	margin-left: 170px;
}
.txt3{
	font-size: 15px;
	font-family: tahoma;
	color: #5863F8;
	font-weight: 900;
	height: 30px;
}
.details{
	color: #fff;
	font-weight: 900;
}
.container{
	display: flex;
	margin: 0 auto;
}
.block2{
	display: flex;
	justify-content: space-around;
	justify-content: space-between 5px;
	margin-left: 175px;
	margin-right: 175px;
	margin-top: 35px;
}
.icondiv{
	border: 10px #5863F8;
	border-radius: 100%;
	color: #5863F8;
	width: 60px;
	height: 60px;
	margin-left: 99px;
	margin-top: 15px;
	margin-bottom: 17px;
	background: #5863F8;
}
.blockdiv1{
	align-items: center;
	justify-content: space-around;
	background-image: url('../images/whitebg.png');
	max-width: 250px;
	height: 250px;
}
.blockdiv2{
	align-items: center;
	justify-content: space-around;
	background-image: url('../images/whitebg.png');
	max-width: 250px;
	height: 250px;
}
.blockdiv3{
	align-items: center;
	justify-content: space-around;
	background-image: url('../images/whitebg.png');
	max-width: 250px;
	height: 250px;
}
.blockdiv4{
	align-items: center;
	justify-content: space-around;
	background-image: url('../images/whitebg.png');
	max-width: 250px;
	height: 250px;
}
.blocktxt{
	display: flex;
	font-size: 20px;
	font-family: raleway;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 200px;
	margin-left: 30px;
	align-items: center;
	text-align: center;
}
.pblock{
	font-size: 13px;
	padding: 10px;
	font-family: raleway;
	font-weight: 900;
	line-height: 21px;
	color: #B1B1B1;
	text-align: center;
	margin-top: 20px;
}
.icondivv{
	align-items: center;
	text-align: center;
	margin-left: 13px;
	margin-top: 10px;
	background: #5863F8;
}